@import "@/scss/variables/_colors.scss";

$colors: (
        "red-300":$colorRed300,
        "red-400":$colorRed400,
        "red-600":$colorRed600,
        "green-300":$colorGreen300,
        "green-700":$colorGreen700,
        "gray-200":$colorGray200,
        "white":$colorWhite,
        "black":$colorBlack
);

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }
  .text-#{$key} {
    color: $value;
  }
}