// resource:https://tailwindcss.com/docs/background-color
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorSlate50: rgb(248 250 252);
$colorIndigo500: rgb(99 102 241);
$colorIndigo600: rgb(79 70 229);
$colorIndigo700: rgb(67 56 202);
$colorPrimary: #48bab4;
$colorGray: rgb(107 114 128);
$colorGray200: rgb(229 231 235);
$colorGray300: rgb(209 213 219);
$colorGray500: rgb(107 114 128);
$colorGreen300: rgb(134 239 172);
$colorGreen600: rgb(22 163 74);
$colorGreen700: rgb(21 128 61);
$colorNeutral50: rgb(250 250 250);
$colorNeutral200: rgb(245 245 245);
$colorRed300: rgb(252 165 165);
$colorRed400: rgb(239 68 68);
$colorRed600: rgb(220 38 38);